@import "~styles/utils";

.button {
  display: inline-block;
  border: 1px solid #e8646e;
  border-radius: 100px;
  width: px2em(143px);
  height: px2em(55px);
  color: #e8646e;
  line-height: px2em(55px);
  @include font-dpr(24px);
  text-align: center;
}

.md {
  border-width: px2em(2px);
  width: px2em(240px);
  height: px2em(61px);
  line-height: px2em(61px);
  font-weight: bold;
}

.lg {
  border: px2em(2px) solid #e8646e;
  border-radius: 100px;
  width: px2em(233px);
  height: px2em(78px);
  line-height: px2em(72px);
  @include font-dpr(28px);
}

.disable {
  color: #84848c;
  border-color: #84848c;
}