@import "~styles/utils";

.me-container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.btn-upgrade {
  position: absolute;
  top: px2em(20px);
  right: px2em(20px);
}

.information {

}