@import "~styles/utils";

.meta-wrapper {
  display: inline-block;
  margin-left: px2em(26px);
  width: px2em(580px);
  vertical-align: top;
}

.name {
  @include font-dpr(32px);
  color:#484756;
  font-weight: bold;
  letter-spacing: px2em(-0.05px);
}

.bio {
  @include font-dpr(28px);
  color: #84848c;
  letter-spacing: px2em(.86px);
  line-height: px2em(44px);
}

.desc-group {
  margin-top: px2em(20px);
  margin-bottom: px2em(17px);
}

.desc-item {
  display: inline-block;
  width: px2em(150px);
  padding: 0 px2em(30px);
  text-align: center;
  border-right: 1px solid #b7b7c6;
  white-space: nowrap;

  &:first-of-type {
    padding-left: 0;
  }
  &:last-of-type {
    padding-right: 0;
    border-right: 0;
  }
  &.auto-width {
    width: auto;
  }
  p {
    @include font-dpr(30px);
    color: #484756;
    letter-spacing: -0.04px;
  }
  h5 {
    @include font-dpr(24px);
    margin-top: px2em(14px);
    color:#84848c;
    letter-spacing: px2em(-0.05px);
  }
  &.ch {
    p {
      @include font-dpr(26px);
    }
  }
}

.myself {
  padding: px2em(20px) 0 px2em(32px);
  background-color: #fff;
  .avatar {
    display: block;
    margin: 0 auto;
  }
  .name {
    margin-top: px2em(10px);
  }
  .meta-wrapper {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .desc-group {
    margin-top: px2em(27px);
    margin-bottom: px2em(20px);
  }
  .desc-item p {
    font-weight: bold;
  }
  .bio {
    margin: 0 auto;
    width: px2em(630px);
  }
}