@import "../../styles/_utils";

.card {
  position: relative;
  margin-bottom: px2em(15px);
  width: 100%;
  padding: px2em(27px) px2em(30px) px2em(40px);
  background-color: #fff;
  > h5 {
    position: absolute;
    right: px2em(28px);
    bottom: px2em(40px);
    @include font-dpr(24px);
    font-weight: normal;
    color: #484756;
    letter-spacing: px2em(-0.04px);
    z-index: 1;
    &:before {
      content: "";
      display: inline-block;
      position: relative;
      top: px2em(2px);
      margin-right: px2em(2px);
      width: px2em(30px);
      height: px2em(20px);
      background: url("assets/answer_school.png") no-repeat center / contain;
    }
  }
}

.content {
  @include font-dpr(30px);
  color:#484756;
  letter-spacing: px2em(1.17px);
  line-height: px2em(48px);
}

.answer-container {
  margin-top: px2em(18px);
  padding: 0 px2em(4px);
}

.answer-voice {
  margin-left: px2em(33px) !important;
}

.answer-meta {
  position: relative;
  display: inline-block;
  float: right;
  top: px2em(5px);
  @include font-dpr(24px);
  color: #84848c;
  letter-spacing: px2em(1.44px);
  text-align: right;
  vertical-align: middle;
}

.user-meta {
  margin-top: px2em(16px);
  h4 {
    @include font-dpr(26px);
    color: #484756;
    letter-spacing: px2em(0.16px);
    font-weight: normal;
  }
  p {
    position: relative;
    margin-top: px2em(5px);
    @include font-dpr(24px);
    color: #84848c;
    letter-spacing: px2em(0.15px);
    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 12em;
      height: 1.2em;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 40%);
    }
  }
}