@import "../../styles/_utils";

.answer-voice-wrapper {
  display: inline-block;
  position: relative;
  margin-left: px2em(24px);
  vertical-align: middle;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 100%;
    width: 0;
    height: 0;
    border: px2em(24px) solid transparent;
    border-right-color: #e8646e;
    transform: translateX(5%) translateY(-50%) scaleY(.5);
  }
}

.answer-voice {
  position: relative;
  width: px2em(303px);
  height: px2em(77px);
  line-height: px2em(77px);
  color: #fff;
  text-align: center;
  @include font-dpr(28px);
  letter-spacing: px2em(-0.04px);
  background-color: #e8646e;
  border-radius: px2em(100px);
  overflow: hidden;
  h6 {
    font-size: inherit;
    font-weight: normal;
  }
  > figure {
    position: absolute;
    left: px2em(6px);
    @include font-dpr(24px);
    figcaption {
      display: inline-block;
      opacity: .6;
    }
    icon {
      content: '';
      display: inline-block;
      position: relative;
      top: px2em(2px);
      margin-right: px2em(2px);
      width: px2em(14px);
      height: px2em(20px);
      background: url("assets/answer_voice.png") no-repeat center / contain;
    }
  }
}

.answer-playing-progress {
  @extend .answer-voice;
  content: "";
  position: absolute;
  right: 100%;
  background-color: #e8939a;
  z-index: 0;
}