@import "../../styles/_utils";

.answer-voice-wrapper, .normal {
  display: inline-block;
  position: relative;
  margin-left: px2em(24px);
  vertical-align: middle;
  white-space: nowrap;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 100%;
    width: 0;
    height: 0;
    border: px2em(24px) solid transparent;
    border-right-color: #e8646e;
    transform: translateX(5%) translateY(-50%) scaleY(.5);
    transition: border 1.2s;
  }
}

.playing, .paused {
  &:before {
    border-right-color: #e8939a;
  }
  .answer-playing-progress {
    opacity: 1;
  }
}

.answer-voice {
  position: relative;
  width: px2em(303px);
  height: px2em(77px);
  line-height: px2em(77px);
  color: #fff;
  @include font-dpr(28px);
  letter-spacing: px2em(-0.04px);
  background-color: #e8646e;
  border-radius: px2em(100px);
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  h6 {
    position: relative;
    display: inline-block;
    font-size: inherit;
    font-weight: normal;
    z-index: 1;
  }
  > figure {
    display: inline-block;
    margin: 0 px2em(15px) 0 px2em(8px);
    @include font-dpr(24px);
    figcaption {
      display: inline-block;
      span {
        opacity: .6;
      }
      icon {
        content: '';
        display: inline-block;
        position: relative;
        top: px2em(2px);
        margin-right: px2em(2px);
        width: px2em(14px);
        height: px2em(20px);
        background: url("assets/answer_voice.png") no-repeat center / contain;
      }
    }
  }
}

.answer-playing-progress {
  width: 100%;
  height: px2em(77px);
  position: absolute;
  right: 100%;
  border-radius: 200px;
  background-color: #e8939a;
  z-index: 0;
  opacity: 0;
  transition: opacity .3s, right .5s;
}