@import "~styles/utils";

.card {
  position: relative;
  width: 100%;
  padding: px2em(28px) px2em(18px);
  border-bottom: 1px solid #e4e4ec;
  background-color: #fff;
}

.ask-button {
  position: absolute;
  top: px2em(18px);
  right: px2em(18px);
}
