@import "../../styles/_utils";

.avatar-wrapper {
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  vertical-align: middle;
  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
}

.xs {
  width: px2em(45px);
  height: px2em(45px);
}

.sm {
  width: px2em(75px);
  height: px2em(75px);
}

.md {
  width: px2em(91px);
  height: px2em(91px);
}

.lg {
  border: 1px solid #c9c9da;
  width: px2em(163px);
  height: px2em(163px);
  padding: px2em(5px);
}