@import "~styles/utils";

$base-line-height: px2em(36px);
$spin-duration: 1s;
$pulse-duration: 750ms;

.lg {
  width: ($base-line-height / 4);
  height: $base-line-height;
  border-radius: px2em(5px);
  &:before, &:after {
    height: ($base-line-height / 1.5);
    width: ($base-line-height / 4);
    border-radius: px2em(5px);
  }
  &:before {
    left: -($base-line-height / 2);
  }
  &:after {
    left: ($base-line-height / 2);
  }
}

$base-line-height-sm: px2em(28px);

.sm {
  width: ($base-line-height-sm / 4);
  height: $base-line-height-sm;
  border-radius: px2em(3px);
  &:before, &:after {
    height: ($base-line-height-sm / 1.5);
    width: ($base-line-height-sm / 4);
    border-radius: px2em(3px);
  }
  &:before {
    left: -($base-line-height-sm / 2);
  }
  &:after {
    left: ($base-line-height-sm / 2);
  }
}

$red: #e8646e;
$off-red: rgba($red, 0.2);

@keyframes pulse-red {
  50% {
    background: $red;
  }
}

.red {
  background: $off-red;
  animation: pulse-red $pulse-duration infinite;
  &:before, &:after {
    background: $off-red;
    animation: pulse-red $pulse-duration infinite;
  }
}

$white: #ffffff;
$off-white: rgba($white, 0.2);

@keyframes pulse-white {
  50% {
    background: $white;
  }
}

.white {
  background: $off-white;
  animation: pulse-white $pulse-duration infinite;
  &:before, &:after {
    background: $off-white;
    animation: pulse-white $pulse-duration infinite;
  }
}

.loading-pulse {
  position: relative;
  display: inline-block;
  animation-delay: ($pulse-duration / 3);
  vertical-align: middle;
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }
  &:after {
    animation-delay: ($pulse-duration / 1.5);
  }
}
